div.hi
  //- برای یاد اوری موارد داخل پاگ زمانی که میخواستیم اتربیوت بسازیم توی پرانتز مینداختیمشون
  //- و نکته ی مهم اینه که اول کلاس و پوند مخصوص ایدی رو میگذاریم سپس پرانتز اتریبیوت
  //- در ضمن مهم نیست که بین اتریبیوت ها کاما باشه یا صرفا اسپیس
  img.slama#aasd(src="pug.jpg" alt="Dog" orrrrrrr   src="pug", alt="Dog")