div.hi
  //- برای یاد اوری موارد داخل پاگ زمانی که میخواستیم اتربیوت بسازیم توی پرانتز مینداختیمشون
  //- و نکته ی مهم اینه که اول کلاس و پوند مخصوص ایدی رو میگذاریم سپس پرانتز اتریبیوت
  //- در ضمن مهم نیست که بین اتریبیوت ها کاما باشه یا صرفا اسپیس
  img.slama#aasd(src="pug.jpg" alt="Dog" orrrrrrr   src="pug", alt=`${dog}`)
  //- اینجوری هم توی اتریبیوت استفاده میکنیم
  #{name} 
  //- این جوری هم از داده دینامیک استفاده میکردیم

  //- اگه نیاز داشتیم که یه چیزی از جاوا اسکریپت بسازیم مثلا وریبل
  - const tes = name.toUppercase();

  //- یاد اوری اضافه کردن اکستند
extends layout

block content
 p hello!
